.circel-btn {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #d0572d;
  color: white;
  font-size: larger;
  font-size: large;
  font-weight: bold;
  margin-left: 5px;
}

.circel-btn:hover {
  width: 150px;
  height: 150px;
  background-color: rgb(7, 78, 7);
}

.lbl-msg {
  padding: 10px;
  margin-top: 30px;
  margin-right: 30px;
  display: inline-block;
  width: 300px;

  overflow: hidden;
  text-overflow: clip;
  background-color: white;
}

.about {
  background-color: white;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
}
